---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout>
	<Header></Header>
	<Welcome />
	<div id="container">
		このページはアバウトページです。自己紹介を載せます。
	</div>
</Layout>
