---
import { ClientRouter } from "astro:transitions"
---

<!doctype html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://unpkg.com/@acab/reset.css">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ClientRouter/>
		<title>まきりんだWeb</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--gap: 10px
}

html {
  container-type: inline-size;
}
main {
  --_m: max(1em, 50cqw - 600px/2);
  margin-inline: var(--_m);
}
.full-bleed {
  margin-inline: calc(-1 * var(--_m));
}
</style>
